{% extends 'base2.html' %}

{% block content %}
<heeader class= 'about'>
    <h1>The Idea behind the Concept</h1>
    <p>I wanted a website that is simlar to fanbase API's that allowed users to express and satisfy their <br>need for an informative, yet cool way to explore the world of their favorite heroes. In this case, <br>a DC Universe theme was far more favored and superior to Marvel (No offense Stan Lee your cameos are pretty <br>good). The DC storyline is far more mature, and less childlike, like this website. I hope I did a good <br>job working with this. And I hope you agree!</p>
    <p>- Jordy</p>
</heeader>
{% endblock content %}