<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DC</title>
    <link rel="stylesheet" href="/../static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Gulzar&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/343d60576c.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar">
        <a class="navbar-brand" href="{{ url_for('site.home') }}">
            <img src="/../static/images/logo.jpeg" alt="Logo Image" class="logo-img">
        </a>
        <ul class="nav-tabs">
            <li><a href="{{ url_for('site.home') }}">Home</a></li>
            <li><a href="{{ url_for('site.about') }}">About Us</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('api.hero_home') }}">Heroes</a></li>
            <li><a href="{{ url_for('api.villain_home') }}">Villians</a></li>
            <li><a href="{{ url_for('site.profile') }}">Profile</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
            <li><button class="nav-signin-btn"><a href="{{ url_for('auth.signin') }}">Sign In</a></button></li>
            <li><button class="nav-signup-btn"><a href="{{ url_for('auth.signup') }}">Sign Up</a></button></li>
            {% endif %}
        </ul>
    </nav>
    <!-- End of Navbar -->
    {% block content %}


    {% endblock content %}

    <!-- Start of Footer -->
    <footer class="footer-section">
        <div class="footer-summary">
            <h2>What is this?</h2>
            <p> This is a functional DC Universe API that contains a basic collectiion of characters in the DC Universe.
                Follow us on our Social Medias for more updates! </p>
        </div>
        <div class="footer-socials">
            <div class="socials-box">
            <h3>Socials</h3>
                <ul class="socials-list">
                    <li><i class="fa-brands fa-instagram fa-2x"></i></li>
                    <li><i class="fa-brands fa-facebook fa-2x"></i></li>
                    <li><i class="fa-brands fa-twitter fa-2x"></i></li>
                    <li><i class="fa-brands fa-twitch fa-2x"></i></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>